
# --------------------
# OS
# --------------------
Thumbs.db
.DS_Store

# --------------------
# Maven
# --------------------
target/
.mvn/

# --------------------
# Gradle
# --------------------
.gradle/
!gradle-wrapper.jar

# --------------------
# Eclipse
# --------------------
.project
.classpath
.metadata/
.settings/
Servers/

# --------------------
# Git
# --------------------
.recommenders/

# --------------------
# VSCode
# --------------------
.vscode/
settings.json
cSpell.json
javac-services.*.log
javac-services.*.log.lck

# --------------------
# Java
# --------------------
*.class
*.jar
*.war
*.ear
hs_err_pid*

# --------------------
# Spring
# --------------------
.springBeans

# --------------------
# Build
# --------------------
build/
bin/

# --------------------
# Other
# --------------------
*/*.log
*/*.swp
*/*.bak



# --------------------
# Project
# --------------------
spring-batch/
podcastpedia-batch/
/out-data.data
*.sqlite
*.db
/SyainM.csv
/Syain.xml

